<div class="container-portada animated fadeIn">
    <div class="capa-gradient"></div>
    <div class="container-details flex-center">
        <div class="row details animated fadeInDown">
            <h2>Cocina</h2>
        </div>
    </div>
</div>
<br>
<section id="menu">
    <h5>Clic en la opción deseada</h5>
    <div class="contenedor">
        <a routerLink="/dashboard/pedidos">
            <div>
                <img src="../../../assets/img/pedidos.png">
                <h2> Pedidos </h2>
            </div>
        </a>
        <a routerLink="/dashboard/platillos">
            <div>
                <img src="../../../assets/img/platillos.png">
                <h2> Platillos </h2>
            </div>
        </a>
        <a routerLink="/registro">
            <div>
                <img src="../../../assets/img/usuarios.png">
                <br>
                <h2> Nuevo usuario </h2>
            </div>
        </a>
    </div>
</section>